* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #A8B1B6; }

main {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%; }
  main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 40px;
    margin: 0 auto;
    width: 430px;
    background: #202A2C;
    color: white; }
    main .container .tabs {
      /* tabs */
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-content: center;
      border-bottom: 2px solid #777;
      position: relative;
      transition: 0.3s ease-out;
      margin: 40px 0; }
      main .container .tabs::after {
        position: absolute;
        content: '';
        display: block;
        width: 50%;
        bottom: -2px;
        left: 0;
        height: 2px;
        background: white;
        z-index: 1;
        transition: 0.8s; }
      main .container .tabs.left .sign-up {
        color: rgba(255, 255, 255, 0.4); }
      main .container .tabs.left::after {
        transform: translateX(0); }
      main .container .tabs.right .sign-in {
        color: rgba(255, 255, 255, 0.4); }
      main .container .tabs.right::after {
        transform: translateX(100%); }
      main .container .tabs div {
        position: relative;
        width: 50%;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        line-height: 20px;
        transition: color .2s ease; }
    main .container .forms {
      /* forms */
      display: flex;
      color: rgba(255, 255, 255, 0.4);
      /* tabs-form-animation */ }
      main .container .forms .form-sign-in,
      main .container .forms .form-sign-up {
        flex-shrink: 0;
        width: 100%;
        font-size: 18px; }
        main .container .forms .form-sign-in label,
        main .container .forms .form-sign-up label {
          display: block;
          margin: 20px 0;
          letter-spacing: 2px; }
        main .container .forms .form-sign-in input,
        main .container .forms .form-sign-up input {
          position: relative;
          width: 100%;
          padding: 16px;
          background: #323B40;
          box-shadow: none;
          border: none;
          color: white;
          border-left: 2px solid #323B40;
          font-size: 20px; }
          main .container .forms .form-sign-in input:focus, main .container .forms .form-sign-in input.active,
          main .container .forms .form-sign-up input:focus,
          main .container .forms .form-sign-up input.active {
            outline: none;
            border-left: #61C7B1 2px solid;
            transition: .5s; }
          main .container .forms .form-sign-in input#sign-in-password:focus, main .container .forms .form-sign-in input#sign-up-password,
          main .container .forms .form-sign-up input#sign-in-password:focus,
          main .container .forms .form-sign-up input#sign-up-password {
            border-left: #23A7F1 2px solid; }
        main .container .forms .form-sign-in p,
        main .container .forms .form-sign-up p {
          text-transform: uppercase;
          font-family: monospace;
          margin: 10px 0; }
        main .container .forms .form-sign-in .form-submit,
        main .container .forms .form-sign-up .form-submit {
          margin: 50px 0; }
          main .container .forms .form-sign-in .form-submit button,
          main .container .forms .form-sign-up .form-submit button {
            cursor: pointer;
            padding: 18px 30px;
            font-size: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #fff;
            background: #23A7F1;
            border: none;
            transition: .3s ease-in-out; }
            @media (max-width: 375px) {
              main .container .forms .form-sign-in .form-submit button,
              main .container .forms .form-sign-up .form-submit button {
                padding: 18px 6px; } }
            main .container .forms .form-sign-in .form-submit button:hover,
            main .container .forms .form-sign-up .form-submit button:hover {
              background: #0E8ED5; }
            main .container .forms .form-sign-in .form-submit button:disabled,
            main .container .forms .form-sign-up .form-submit button:disabled {
              background: #A8B1B6;
              cursor: not-allowed; }
          main .container .forms .form-sign-in .form-submit a,
          main .container .forms .form-sign-up .form-submit a {
            float: right;
            padding-top: 5%;
            color: #A8B1B6; }
      main .container .forms .form-sign-in,
      main .container .forms .form-sign-up {
        visibility: hidden;
        transition: .4s ease-in-out;
        opacity: 0; }
      main .container .forms .form-sign-in.active,
      main .container .forms .form-sign-up.active {
        visibility: visible;
        opacity: 1;
        transform: translate(0); }
      main .container .forms .form-sign-in {
        transform: translateX(10px); }
      main .container .forms .form-sign-up {
        transform: translateX(calc(-100% - 10px)); }
        main .container .forms .form-sign-up.active {
          transform: translateX(-100%); }

.code-info {
  font-family: monospace, sans-serif;
  font-size: 12px;
  color: #fff;
  text-align: right;
  right: 5px;
  bottom: 10px;
  margin-top: 60px; }
  .code-info p {
    margin: 0; }
  .code-info a {
    cursor: pointer;
    color: #fff;
    text-decoration: none; }
    .code-info a:visited {
      color: #fff; }
    .code-info a:hover {
      color: #777; }
  .code-info .code-info-design {
    color: #777; }
    .code-info .code-info-design:visited {
      color: #777; }
    .code-info .code-info-design:hover {
      color: #333; }
