$grey: rgba(255, 255, 255, .4);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: center url(http://ond8gcwbr.bkt.clouddn.com/17-5-30/62363312.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    @media (max-width: 430px) {
        justify-content: flex-start;
    }
}

.dimmer {
    overflow: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .45);
    z-index: -1;
    position: absolute;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        padding: 20px 40px;
        margin: 0 auto;
        max-width: 430px;
        background: #202A2C;
        color: rgba(255, 255, 255, 1);
        box-shadow: 0px 5px 30px 3px black;
        @media (max-width: 376px) {
            padding:20px 20px;
        }
        .header {
            text-align: center;
            text-transform: uppercase;
            overflow: hidden;
            h1 {
                padding-top: 60px;
                padding-bottom: 30px;
                letter-spacing: 8px;
                font-family: monospace;
                font-size: 30px;
            }
        }
        .tabs {
            /* tabs */
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-content: center;
            border-bottom: 2px solid #777;
            position: relative;
            transition: 0.3s ease-out;
            margin: 40px 0;
            &::after {
                position: absolute;
                content: '';
                display: block;
                width: 50%;
                bottom: -1.8px;
                left: 0;
                height: 1.8px;
                background: rgba(255, 255, 255, 1);
                z-index: 1;
                transition: 0.8s;
            }
            &.left {
                .sign-up {
                    color: $grey;
                }
                &::after {
                    transform: translateX(0);
                }
            }
            &.right {
                .sign-in {
                    color: $grey;
                }
                &::after {
                    transform: translateX(100%);
                }
            }
            div {
                position: relative;
                width: 50%;
                text-align: center;
                padding: 20px;
                font-size: 20px;
                line-height: 20px;
                transition: color .3s ease;
            }
        }
        .forms {
            /* forms */
            display: flex;
            color: $grey;
            .form-sign-in,
            .form-sign-up {
                flex-shrink: 0;
                width: 100%;
                font-size: 18px;
                label {
                    display: block;
                    margin: 20px 0;
                    letter-spacing: 2px;
                }
                input {
                    position: relative;
                    width: 100%;
                    padding: 16px;
                    background: #323B40;
                    box-shadow: none;
                    border: none;
                    color: rgba(255, 255, 255, 1);
                    border-left: 2px solid #323B40;
                    font-size: 20px;
                    &:focus,
                    &.active {
                        outline: none;
                        border-left: #61C7B1 2px solid;
                        transition: .5s;
                    }
                    &.error,
                    &.error:focus {
                        border-left: #FE4452 2px solid;
                    }
                    /*                  &#sign-in-password:focus,
                    &#sign-up-password {
                        border-left: #23A7F1 2px solid;
                    }   */
                }
                p {
                    text-transform: uppercase;
                    font-family: monospace;
                    margin: 10px 0;
                    transition: 0.3s ease-in-out;
                    &.active {
                        color: #fff;
                    }
                }
                .form-submit {
                    margin: 50px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    button {
                        cursor: pointer;
                        padding: 18px 30px;
                        font-size: 18px;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        color: #fff;
                        background: #23A7F1;
                        border: none;
                        transition: .3s ease-in-out;
                        @media (max-width: 375px) {
                            padding:18px 6px;
                        }
                        &:hover {
                            background: #0E8ED5;
                        }
                        &:disabled {
                            background: #A8B1B6;
                            cursor: no-drop;
                        }
                    }
                    a {
                        color: #A8B1B6;
                    }
                    p {
                        width: 50%;
                        a {}
                    }
                }
            }
            /* tabs-form-animation */
            .form-sign-in,
            .form-sign-up {
                visibility: hidden;
                transition: .4s ease-in-out;
                opacity: 0;
            }
            .form-sign-in,
            .form-sign-up {
                &.active {
                    visibility: visible;
                    opacity: 1;
                    transform: translate(0)
                }
            }
            .form-sign-in {
                transform: translateX(10px)
            }
            .form-sign-up {
                transform: translateX(calc(-100% - 10px));
                &.active {
                    transform: translateX(-100%)
                }
            }
        }
    }
}

.code-info {
    font-family: monospace, sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: right; // position: relative;
    right: 5px;
    bottom: 10px;
    margin-top: 60px;
    p {
        margin: 0;
    }
    a {
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        &:visited {
            color: #fff;
        }
        &:hover {
            color: #777;
        }
    }
    .code-info-design {
        color: #777;
        &:visited {
            color: #777
        }
        &:hover {
            color: #333
        }
    }
}